SkunkStats/1st_week_vs_bryan.txt
SkunkStats/weekly_competition.txt
SkunkStats/weightranks.txt
SkunkStats/models.txt
SkunkStats/model_analysis.txt
SkunkStats/firstweekcomparison.txt
SkunkStats/m5_improvements.txt

